# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\luisc\OneDrive - universidadean.edu.co\EAN - ActividadDocente\EstructuraDeDatos\2021-S1\Semana 8\TallerRecursion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
